{% extends "layout.html" %}

{% load static %}

{% block content %}
    
<div>
    <button><a href="{% url 'collection:add' %}">Ajouter un disque</a></button>
</div>
{% if albums %}
<div class="container">
    <div class="row g-3">
        {% for album in albums %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ album.jacket }}" alt="{{album.jacket}}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">{{ album.nom_album }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock content %}